params {
    config_profile_contact      = 'Agshin Balayev balay011@umn.edu'
    config_profile_name         = 'somasvcaller-msi'
    config_profile_description  = 'MSI-optimized EnsembleSomaSVCaller configuration'

    // Input parameter (Mandatory!)
    input                       = "/projects/standard/aventeic/balay011/scripts/SomaCNV_chordbai.csv"

    // References
    genome                      = 'GRCh38'
    igenomes_base               = '/projects/standard/aventeic/balay011/references'
    igenomes_ignore             = false

    // ASCAT parameters
    ascat_min_counts            = 20
    ascat_min_basequal          = 20
    ascat_min_mapqual           = 35

    // SEQUENZAUTILS_GCWIGGLE parameters
    windowsize_sequtils         = 50

    // SEQUENZA_PREP parameters
    hom_sequtils                = 0.9
    het_sequtils                = 0.25
    het_f_sequtils              = -0.02
    qlimit_sequtils             = 20
    qformat_sequtils            = "sanger"
    rd_thr_sequtils             = 20
    seqz_bin_size_sequtils      = 50

    // SEQUENZA parameters
    sequenza_rd_thr_tumor       = 40
    sequenza_rd_thr_normal      = 10
    sequenza_purity_range       = "0.1-1" 
    sequenza_ploidy_range       = "1-7"

    // FACETS parameters
    facets_mapq                 = 20
    facets_baq                  = 20
    facets_mindepth             = 25
    facets_maxdepth             = 4000
    facets_cval_pre             = 25
    facets_cval_proc            = 400 // recommended values for exome: 150, for targeted-seq: 100
    facets_nbhd_snp             = "auto"
    facets_count_orphans        = false
    facets_unmatched            = false
    facets_no_cov_plot          = false
    facets_annotation_bed       = null

    // ACESEQ outdir (Mandatory!)
    aceseq_outdir               = "/scratch.global/venteicher_30050/balay011/SomaticSV_outs/ACESeq_out" // MUST BE SAME as outdir in conf/aceseq_msi.config

    // DELLY_CALL parameters
    delly_min_mapqual           = 20

    // DELLY_FILTER parameters
    delly_mode                  = "somatic"
    delly_min_svqual            = 300
    delly_altaf                 = 0.3
    delly_min_svsize            = 0
    delly_max_svsize            = 500000000
    delly_ratio_geno            = 0.75
    delly_pass                  = true
    delly_tags                  = false
    delly_cov                   = 10
    delly_ctrl_contamination    = 0
    delly_geno_qual             = 15
    delly_rddel                 = 0.8
    delly_rddup                 = 1.2

    // HetPileups parameters
    filter_hets                 = "TRUE"
    max_depth_hets              = 1000
    
    // fragCounter parameters
    midpoint_frag               = "TRUE"
	windowsize_frag             = 200
	minmapq_frag                = 60
	paired_frag                 = "TRUE"
	exome_frag                  = "FALSE"
    
    // dryclean parameters
    center_dryclean             = "TRUE"
    cbs_dryclean                = "FALSE"
    cnsignif_dryclean           = 0.00001
    wholeGenome_dryclean        = "TRUE"
    blacklist_dryclean          = "FALSE"
    blacklist_path_dryclean     = "NA"
    germline_filter_dryclean    = "FALSE"
    germline_file_dryclean      = "NA"
    field_dryclean              = "reads"

    // Boilerplate options
	outdir                      = "/scratch.global/venteicher_30050/balay011/SomaticSV_outs"
	publish_dir_mode            = 'copy'
	email                       = null
	email_on_fail               = null
	plaintext_email             = false
	monochrome_logs             = false
	hook_url                    = null
	help                        = false
	version                     = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                  = '128.GB'
    max_cpus                    = 16
    max_time                    = '240.h'
}

// Perform work directory cleanup when the run has succesfully completed
 cleanup = false

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
	PYTHONNOUSERSITE = 1
	R_PROFILE_USER = "/.Rprofile"
	R_ENVIRON_USER = "/.Renviron"
	JULIA_DEPOT_PATH = "/usr/local/share/julia"
	R_DATATABLE_NUM_THREADS = 1
    NEXTFLOW_BIN_DIR = "${projectDir}/bin"
    NEXTFLOW_PROJECT_DIR = "${projectDir}"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
	enabled = true
	file = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
	enabled = true
	file = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
	enabled = true
	file = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
	enabled = true
	file = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
	name = 'balayev1/EnsembleSomaSVCaller'
	author = """Agshin Balayev"""
	homePage = 'https://github.com/balayev1/EnsembleSomaSVCaller'
	description = """Somatic SV Pipeline"""
	mainScript = 'main.nf'
	nextflowVersion = '!>=25.10.2'
	version = '1.0dev'
	doi = ''
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /users -B /projects -B /scratch.global"
        singularity.cacheDir   = "/scratch.global/balay011/singularity_cache"
    }
}

executor {
    name            = 'slurm'
    queue           = 'asvnode1,msibigmem'
    submitRateLimit = '10 sec'
    queueSize       = 50
    killBatchSize = 500
}

// Load igenomes.config if required
if (!params.igenomes_ignore) {
	includeConfig 'conf/igenomes.config'
} else {
	params.genomes = [:]
}

includeConfig 'conf/modules.config'