params {
    input = "/projects/standard/aventeic/balay011/scripts/SomaCNV_chordbai.csv"
    outdir = "/scratch.global/balay011/SomaticSV_outs"
    
    // Path to BED file (e.g., exome targets or specific regions)
    bed_file = "/projects/standard/aventeic/balay011/references/reference_genome/Homo_sapiens_assembly38_chrs.bed" 
    
    // Required file paths
    fasta = "/projects/standard/aventeic/balay011/references/reference_genome/GRCh38.primary_assembly.genome.fa"
    allele_res = "/projects/standard/aventeic/balay011/references/SomaCNV_pip_files/ascat_files/allele_files"
    loci_res = "/projects/standard/aventeic/balay011/references/SomaCNV_pip_files/ascat_files/loci_files"
    gc_file = "/projects/standard/aventeic/balay011/references/SomaCNV_pip_files/ascat_files/other/GC_G1000_hg38.txt"
    rt_file = "/projects/standard/aventeic/balay011/references/SomaCNV_pip_files/ascat_files/other/RT_G1000_hg38"
    
    // ASCAT Settings
    genome_ver = "hg38" 
    min_counts = 20
    min_basequal = 20
    min_mapqual = 35
    chrom_names = "paste0('chr', c(1:22, 'X'))"
}

process {
    executor = 'slurm'

    withName: ASCAT {
        label 'process_medium'
        queue = 'asvnode1'
        cpus = 8
        // Using the dynamic memory logic for retries
        memory = { 32.GB * task.attempt } 
        errorStrategy = 'retry'
        maxRetries = 1
        
        ext.args = { [
            gender: meta.gender, 
            genomeVersion: params.genome_ver,
            minCounts: params.min_counts,
            min_base_qual: params.min_basequal, 
            min_map_qual: params.min_mapqual,
            chrom_names: params.chrom_names
        ] }

        publishDir = [
            path: { "${params.outdir}/ascat/${meta.id}" },
            mode: 'copy'
        ]
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /projects/standard/aventeic/balay011,/scratch.global/balay011'
}