params {
    // Input/Output
    input = "samples.csv"
    outdir = "/scratch.global/balay011/SomaticSV_outs"

    // Reference Files
    fasta = "/path/to/references/GRCh38.fa"
    
    // Global tool settings
    species = "human"
    assembly = "GRCh38"
}

process {
    withName: GENERATE_PER_SAMPLE_SNPS {
        cpus = 1
        memory = '16 GB'
        container = 'quay.io/wtsicgp/dockstore-cgpwgs:3.1.6'
        publishDir = [
            path: { "${params.outdir}/ascat/${subjectID}" },
            mode: 'copy'
            saveAs: { filename -> file(filename).name }
        ]
    }

    withName: MERGE_AND_GC_CORRECT_SNPS {
        cpus = 2
        memory = '64 GB'
        container = 'quay.io/wtsicgp/dockstore-cgpwgs:3.1.6'
    }

    withName: RUN_ASCAT {
        cpus = 1
        memory = '8 GB'
        container = 'quay.io/wtsicgp/dockstore-cgpwgs:3.1.6'
        publishDir = [
            path: { "${params.outdir}/ascat/${subjectID}" },
            mode: 'copy'
            saveAs: { filename -> file(filename).name }
        ]
    }
}

docker.enabled = true
docker.runOptions = '-u \$(id -u):\$(id -g)'
singularity.enabled = true
singularity.autoMounts = true