/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running nf-aceseq from UMN MSI
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required.
----------------------------------------------------------------------------------------
*/

params {
    config_profile_contact     = 'Agshin Balayev balay011@umn.edu'
    config_profile_name        = 'nf-aceseq-msi'
    config_profile_description = 'MSI-optimized ACEseq configuration'

    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = "/projects/standard/aventeic/balay011/scripts/SomaCNV_batch_1.csv" // <-- UPDATE THIS PATH

    // Switches
    runQualityCheckOnly        = false
    estimatesex                = true
    createbafplots             = true
    skip_multiqc               = false
    legacyMode                 = false

    // Mpileup Options
    mpileup_qual               = 20
    
    // Phasing options
    minHT                      = 5

    // SNV Merge filter
    snp_min_coverage           = 15

    // Annotate CNV files
    min_X_ratio                = 0.8
    min_Y_ratio                = 0.12

    // CNV Merge filter
    cnv_min_coverage           = 5000
    mapping_quality            = 1000
    min_windows                = 5

    // correctGC options
    lowess_f                   = 0.1
    scale_factor               = 0.9
    covplot_ylims              = 4
    gc_bias_json_key           = "gc-bias"

    //getBreakpointsAndMergeCrest/datatablePSCBSgaps options
    min_DDI_length             = 1000
    selSVColumn                = "eventScore"

    // getSegmentsAndSnps/pscbsAll 
    min_seg_width              = 2000
    undo_SD                    = 24
    pscbs_prune_height         = 0
    min_gap_length             = 500000

    // markSegsWithHomozygDel
    min_segment_map            = 0.6

    // clusterAndPruneSegments
    min_seg_length_prune       = 9000
    min_num_SNPs               = 15
    clustering                 = "yes"
    min_cluster_number         = 1
    min_membership             = 0.8
    min_distance               = 0.05

    // estimatePurityPloidy
    minLim                     = 0.47
    maxLim                     = 0.53
    min_length_purity          = 1000000
    min_hetSNPs_purity         = 5000
    dh_stop                    = "max"
    min_length_dh_stop         = 1000000
    dh_zero                    = "no"
    purity_min                 = 0.15
    purity_max                 = 1.0
    ploidy_min                 = 1.0
    ploidy_max                 = 6.5
    local_minium_upper_boundary_shift = 0.1

    // generate plots
    ymaxcov_threshold          = 8.0

    // Reference
    fasta                      = "/projects/standard/aventeic/balay011/references/reference_genome/GRCh38.primary_assembly.genome.fa" // <-- UPDATE THIS PATH
    fasta_fai                  = "/projects/standard/aventeic/balay011/references/reference_genome/GRCh38.primary_assembly.genome.fa.fai" // <-- UPDATE THIS PATH
    chrom_sizes                = "/projects/standard/aventeic/balay011/references/GATK_SV_files/hg38.genome" // <-- UPDATE THIS PATH
    chr_prefix                 = "chr" // "chr" or ""
    igenomes_ignore            = true
    refgenie_ignore            = true

    // Beagle reference
    beagle_ref                 = "/projects/standard/aventeic/balay011/references/SomaCNV_pip_files/nf_aceseq_files/beagle_ref" // <-- UPDATE THIS PATH
    plink_map                  = "/projects/standard/aventeic/balay011/references/SomaCNV_pip_files/nf_aceseq_files/beagle_gmap/no_chr_in_chrom_field" // <-- UPDATE THIS PATH
    beagle_ref_ext             = "vcf*" // vcf.gz | bref | bref3
    plink_map_ext              = "map" 

    // Annotation files
    dbsnp_snv                  = "/projects/standard/aventeic/balay011/references/dbSNP_files/Homo_sapiens_assembly38.dbsnp138.vcf.gz" // <-- UPDATE THIS PATH
    mapability_file            = "/projects/standard/aventeic/balay011/references/SomaCNV_pip_files/nf_aceseq_files/misc/k100_mappability.bedGraph.gz" // <-- UPDATE THIS PATH
    replication_time_file      = "/projects/standard/aventeic/balay011/references/SomaCNV_pip_files/nf_aceseq_files/misc/ReplicationTime_10cellines_mean_10KB_hg38.Rda" // <-- UPDATE THIS PATH
    gc_content_file            = "/projects/standard/aventeic/balay011/references/SomaCNV_pip_files/nf_aceseq_files/misc/hg38_gc_content_10kb.txt" // <-- UPDATE THIS PATH
    gene_annotation_file       = null

    // get breakpoints/ PSCBS gaps
    centromer_file             = "assets/hg38/gap_with_centromeres.header.txt"

    // HDR estimation
    blacklist_file             = "assets/hg38/artifact.homoDels.potentialArtifacts.hg38.txt"
    cytobands_file             = "assets/hg38/hg38_cytoBand.txt"

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    outdir                     = "/scratch.global/venteicher_30050/balay011/SomaticSV_outs/ACESEQ_out" // <-- UPDATE THIS PATH
    tracedir                   = "${params.outdir}/pipeline_info"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

 }

// Perform work directory cleanup when the run has succesfully completed
 cleanup = false

singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B /users -B /projects -B /scratch.global"
    cacheDir   = "/scratch.global/singularity_cache"
}
env {
    SINGULARITY_LIBRARYDIR="/scratch.global/singularity_cache/library"
}

executor {
    name            = 'slurm'
    queue           = 'asvnode1,msibigmem'
    submitRateLimit = '10 sec'
    queueSize       = 50
}