/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'GRCh38' {
            fasta               = "${params.igenomes_base}/reference_genome/GRCh38.primary_assembly.genome.fa"
            fasta_fai           = "${params.igenomes_base}/reference_genome/GRCh38.primary_assembly.genome.fa.fai"
            target_regs         = "${params.igenomes_base}/reference_genome/Homo_sapiens_assembly38_chrs.bed"
            dbsnp               = "${params.igenomes_base}/dbSNP_files/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
            dbsnp_tbi           = "${params.igenomes_base}/dbSNP_files/Homo_sapiens_assembly38.dbsnp138.vcf.gz.tbi"
            bwa_index           = "${params.igenomes_base}/bwa_index/"
            ascat_alleles       = "${params.igenomes_base}/SomaCNV_pip_files/ascat_files/allele_files/G1000_alleles_hg38"
            ascat_genome        = "hg38"
            ascat_loci          = "${params.igenomes_base}/SomaCNV_pip_files/ascat_files/loci_files_fixed/G1000_loci_hg38"
            ascat_gc            = "${params.igenomes_base}/SomaCNV_pip_files/ascat_files/other/GC_G1000_hg38.txt"
            ascat_rt            = "${params.igenomes_base}/SomaCNV_pip_files/ascat_files/other/RT_G1000_hg38.txt"
            sequenza_genome     = "hg38"
            facets_genome       = "hg38"
            delly_blacklist     = "${params.igenomes_base}/SomaCNV_pip_files/delly/misc/human.hg38.excl.tsv"
            gridss_blacklist    = "${params.igenomes_base}/SomaCNV_pip_files/gridss/misc/ENCFF356LFX.bed"
            gridss_pon          = "${params.igenomes_base}/SomaCNV_pip_files/gridss/pon/hg38"
            indel_mask          = "${params.igenomes_base}/SomaCNV_pip_files/gridss/misc/ENCFF356LFX.bed"
            germ_sv_db          = "${params.igenomes_base}/SomaCNV_pip_files/svaba/pon/svaba_germline_sv_hg38.bed"
            simple_seq_db       = "${params.igenomes_base}/SomaCNV_pip_files/svaba/misc/repeat_masker_hg38_simple.bed"
            brass_genome_cache  = "${params.igenomes_base}/SomaCNV_pip_files/brass/GRCh38.primary_assembly.genome.fa.cache"
            brass_depth         = "${params.igenomes_base}/SomaCNV_pip_files/brass/CNV_SV_ref_GRCh38_hla_decoy_ebv_brass6+/brass/HiDepth.bed.gz"
            brass_viral         = "${params.igenomes_base}/SomaCNV_pip_files/brass/CNV_SV_ref_GRCh38_hla_decoy_ebv_brass6+/brass/viral.genomic.fa.2bit"
            brass_microbe       = "${params.igenomes_base}/SomaCNV_pip_files/brass/CNV_SV_ref_GRCh38_hla_decoy_ebv_brass6+/brass/all_ncbi_bacteria"
            brass_gcbins        = "${params.igenomes_base}/SomaCNV_pip_files/brass/CNV_SV_ref_GRCh38_hla_decoy_ebv_brass6+/brass/500bp_windows.gc.bed.gz"
            brass_cytoband      = "${params.igenomes_base}/SomaCNV_pip_files/brass/CNV_SV_ref_GRCh38_hla_decoy_ebv_brass6+/brass/cytoband.txt"
            brass_centtel       = "${params.igenomes_base}/SomaCNV_pip_files/brass/CNV_SV_ref_GRCh38_hla_decoy_ebv_brass6+/brass/CentTelo.tsv"
            brass_np            = "${params.igenomes_base}/SomaCNV_pip_files/brass/CNV_SV_ref_GRCh38_hla_decoy_ebv_brass6+/brass/brass_np.groups.gz"
            brass_np_tbi        = "${params.igenomes_base}/SomaCNV_pip_files/brass/CNV_SV_ref_GRCh38_hla_decoy_ebv_brass6+/brass/brass_np.groups.gz.tbi"
            brass_protocol      = "WGS"
            brass_sp            = "human"
            brass_genome        = "hg38"
            hapmap_sites        = "${params.igenomes_base}/GATK_muts_files/hapmap_3.3.hg38.vcf.gz"
            gcmapdir_frag       = "${params.igenomes_base}/SomaCNV_pip_files/fragcounter/gcmapdir"
            build_dryclean      = "hg38"
            pon_dryclean        = "${params.igenomes_base}/SomaCNV_pip_files/dryclean/pon/detergent.rds"
        }
    }
}