/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'GRCh38' {
            fasta               = "${params.igenomes_base}/reference_genome/GRCh38.primary_assembly.genome.fa"
            fasta_fai           = "${params.igenomes_base}/reference_genome/GRCh38.primary_assembly.genome.fa.fai"
            target_regs         = "${params.igenomes_base}/reference_genome/Homo_sapiens_assembly38_chrs.bed"
            dbsnp               = "${params.igenomes_base}/dbSNP_files/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
            dbsnp_tbi           = "${params.igenomes_base}/dbSNP_files/Homo_sapiens_assembly38.dbsnp138.vcf.gz.tbi"
            ascat_alleles       = "${params.igenomes_base}/SomaCNV_pip_files/ascat_files/allele_files/G1000_alleles_hg38"
            ascat_genome        = "hg38"
            ascat_loci          = "${params.igenomes_base}/SomaCNV_pip_files/ascat_files/loci_files_fixed/G1000_loci_hg38"
            ascat_gc            = "${params.igenomes_base}/SomaCNV_pip_files/ascat_files/other/GC_G1000_hg38.txt"
            ascat_rt            = "${params.igenomes_base}/SomaCNV_pip_files/ascat_files/other/RT_G1000_hg38.txt"
            sequenza_genome     = "hg38"
            facets_genome       = "hg38"
            delly_blacklist     = "${params.igenomes_base}/SomaCNV_pip_files/delly/misc/human.hg38.excl.tsv"
            hapmap_sites        = "${params.igenomes_base}/GATK_muts_files/hapmap_3.3.hg38.vcf.gz"
            gcmapdir_frag       = "${params.igenomes_base}/SomaCNV_pip_files/fragcounter/gcmapdir"
            build_dryclean      = "hg38"
            pon_dryclean        = "${params.igenomes_base}/SomaCNV_pip_files/dryclean/pon/detergent.rds"
        }
    }
}