process {
    withName: ASCAT {
        ext.args = {
            def meta_gender = meta.gender ? meta.gender.toLowerCase() : 'female'
            def ascat_gender = (meta_gender == 'male') ? 'XY' : 'XX'
            [   
                gender: ascat_gender,
                genomeVersion: params.genomes[params.genome]?.ascat_genome,
                minCounts: params.ascat_min_counts,
                min_base_qual: params.ascat_min_basequal,
                min_map_qual: params.ascat_min_mapqual
            ]
        }

        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/ascat/${meta.id}" },
        ] 
    }

    withName: SEQUENZAUTILS_GCWIGGLE {
        publishDir = [ 
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/sequenza/reference" }, 
        ]
    }

    withName: SEQUENZA_PREP {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/sequenza/${meta.id}" },
        ]
    }

    withName: SEQUENZA_RUN {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/sequenza/${meta.id}" },
        ]
    }

    withName: FACETS {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/facets/${meta.id}" },
        ]
    }

    withName: '.*TUMOR_FRAGCOUNTER:.*' {
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/Coverages/fragCounter_tumor/${meta.id}/" },
                pattern: "*{.rds,.bw,cov*,.command.*,1kb_*}"
        ]
    }

    withName: '.*NORMAL_FRAGCOUNTER:.*' {
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/Coverages/fragCounter_normal/${meta.id}/" },
                pattern: "*{.rds,.bw,cov*,.command.*,1kb_*}"
        ]
    }

    withName: '.*TUMOR_DRYCLEAN:DRYCLEAN' {
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/Coverages/dryclean_tumor/${meta.id}/" },
                pattern: "*{cov.rds,.command.*}"
        ]
    }

    withName: '.*NORMAL_DRYCLEAN:DRYCLEAN' {
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/Coverages/dryclean_normal/${meta.id}/" },
                pattern: "*{cov.rds,.command.*}"
        ]
    }

    withName: '.*BAM_HETPILEUPS:HETPILEUPS' {
        publishDir       = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/hetpileups/${meta.id}/" },
                pattern: "*{.txt*,.command.*}"
        ]
    }
}