process {
    withName: ASCAT {
        ext.args = { [
            gender: meta.gender,
            genomeVersion: params.genome_ver,
            bed_file: params.bed_file,
            minCounts: params.min_counts,
            min_base_qual: params.min_basequal,
            min_map_qual: params.min_mapqual,
        ] }

        publishDir = [
            path: { "${params.outdir}/ascat/${meta.id}" },
            mode: 'copy'
        ] 
    }

    withName: SEQUENZAUTILS_GCWIGGLE {
        ext.args = { [
            window: params.bin_window,
        ] }
        
        publishDir = [ 
            path: { "${params.outdir}/sequenza/reference" }, 
            mode: 'copy' 
        ]
    }

    withName: SEQUENZA_RUN {
        ext.args = { [
            bin_size: params.bin_window,
            ploidy: params.ploidy,
            cellularity: params.cellularity,
            ploidy_range: params.ploidy_range,
            cellularity_range: params.cellularity_range,
            store_seqztmp: params.store_seqztmp,
            ignore_normal: params.ignore_normal,
            ratio_priority: params.ratio_priority,
            no_archive: params.no_archive,
            breaks_file: params.breaks_bed
        ] }

        publishDir = [
            path: { "${params.outdir}/sequenza/${meta.id}" },
            mode: 'copy'
        ]
    }

    withName: FACETS {
        ext.args = { [
            snp_mapq: params.facets_mapq,
            snp_baq: params.facets_baq,
            snp_nprocs: task.cpus,
            depth_min: params.facets_depth_min,
            depth_max: params.facets_depth_max,
            cval_pre: params.facets_cval_pre,
            cval_proc: params.facets_cval_proc,
            nbhd_snp: params.facets_nbhd_snp,
            gbuild: params.facets_gbuild,
            snp_count_orphans: params.facets_count_orphans,
            unmatched: params.facets_unmatched,
            no_cov_plot: params.facets_no_cov_plot,
        ] }

        publishDir = [
            path: { "${params.outdir}/facets/${meta.id}" },
            mode: 'copy'
        ]
    }

    
}