process {
    withName: BCFTOOLS_ANNOTATE {
        ext.args = '--output-type z --write-index=tbi'
    }

    withName: ASCAT {
        ext.args = { [
            gender: meta.gender,
            genomeVersion: params.ascat_genome,
            minCounts: params.ascat_min_counts,
            min_base_qual: params.ascat_min_basequal,
            min_map_qual: params.ascat_min_mapqual,
        ] }

        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/ascat/${meta.id}" },
        ]
    }

    withName: SEQUENZAUTILS_GCWIGGLE {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/sequenza/reference" },
        ]
    }

    withName: SEQUENZA_RUN {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/sequenza/${meta.id}" },
        ]
    }

    withName: FACETS {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/facets/${meta.id}" },
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:BAM_HETPILEUPS:HETPILEUPS' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/hetpileups/${meta.id}" },
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:BREAKPOINT_ESTIMATOR:BAM_DELLY:DELLY_CALL' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/delly/${meta.id}/call" },
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:BREAKPOINT_ESTIMATOR:BAM_DELLY:DELLY_FILTER' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/delly/${meta.id}/filter" },
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:BREAKPOINT_ESTIMATOR:BCFTOOLS_VIEW' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/delly/${meta.id}/view" },
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:BREAKPOINT_ESTIMATOR:GRIDSS_SV_CALLING:GRIDSS_GRIDSS' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/gridss/${meta.id}/call" },
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:BREAKPOINT_ESTIMATOR:GRIDSS_SOMATIC_FILTER_STEP:GRIDSS_SOMATIC_FILTER' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/gridss/${meta.id}/filter" },
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:BREAKPOINT_ESTIMATOR:SVABA' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/svaba/${meta.id}" },
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:BREAKPOINT_ESTIMATOR:TRANSFORM_ASCAT_STATS' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/ascat/${meta.id}/brass_stats" },
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:BREAKPOINT_ESTIMATOR:NORMAL_BAM_STATS' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/bam_stats/normal/${meta.id}" },
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:BREAKPOINT_ESTIMATOR:TUMOR_BAM_STATS' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/bam_stats/tumor/${meta.id}" },
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:BREAKPOINT_ESTIMATOR:BRASS' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/brass/${meta.id}" },
        ]
    }


    withName: 'NFCORE_SOMASV:SOMASV_CALLER:COVERAGE_JABBA:TUMOR_FRAGCOUNTER:FRAGCOUNTER' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/Coverages/fragCounter_tumor/${meta.id}/" },
            pattern: "*{.rds,.bw,cov*,.command.*}"
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:COVERAGE_JABBA:NORMAL_FRAGCOUNTER:FRAGCOUNTER' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/Coverages/fragCounter_normal/${meta.id}/" },
            pattern: "*{.rds,.bw,cov*,.command.*}"
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:COVERAGE_JABBA:NORMAL_FRAGCOUNTER:REBIN_RAW_FRAGCOUNTER' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/Coverages/fragCounter_normal/${meta.id}/" },
            pattern: "*{.rds,1kb_*,.command.*}"
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:COVERAGE_JABBA:TUMOR_FRAGCOUNTER:REBIN_RAW_FRAGCOUNTER' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/Coverages/fragCounter_tumor/${meta.id}/" },
            pattern: "*{.rds,1kb_*,.command.*}"
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:COVERAGE_JABBA:TUMOR_DRYCLEAN:DRYCLEAN' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/Coverages/Dryclean_tumor/${meta.id}/" },
            pattern: "*{cov.rds,.command.*}"
        ]
    }

    withName: 'NFCORE_SOMASV:SOMASV_CALLER:COVERAGE_JABBA:NORMAL_DRYCLEAN:DRYCLEAN' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/Coverages/Dryclean_normal/${meta.id}/" },
            pattern: "*{cov.rds,.command.*}"
        ]
    }
}
